includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: var/cache/phpstan
    level: max
    paths:
        - .
    excludePaths:
        - var
        - vendor
    ignoreErrors:
        # This allows us to use ``$this->`` instead of `self::` in PHPUnit tests
        # The line below is commented out because PHPStan will complain about it
        # when you don't have any tests yet. It can be enabled after adding
        # the first test.
        #- '#Dynamic call to static method PHPUnit\\Framework\\.*#'
